.*.swp
*~
*.o
*.fpm
fpcmade.x86_64-linux
bin
/base.build-stamp.x86_64-linux
/build-stamp.x86_64-linux
/compiler/pp1.wpo
/compiler/pp2.wpo
/compiler/ppc1
/compiler/ppc2
/compiler/ppc3
/compiler/ppcwpo1
/compiler/ppcwpo2
/compiler/ppcx64
/compiler/utils/fpc
/compiler/utils/mka64ins
/compiler/utils/mkarmins
/compiler/utils/mkx86ins
/compiler/utils/ppudump
/compiler/utils/ppufiles
/compiler/utils/ppumove
/packages/fpmake
/packages/fpmkunit/units_bs
/utils/fpmake
units
!/tests/test/units
